---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';

const metadata = {
  title: 'StudyBuddy — Students best friend',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
    class:list={'mb-0'}
    actions={[
      {
        variant: 'primary',
        text: 'Live Demo',
        href: 'https://rc-lha.rwi.uzh.ch/',
        target: '_blank',
        icon: 'tabler:external-link',
      },
      { text: 'Gitlab Code', href: '#features' },
    ]}
  >
    <Fragment slot="title">StudyBuddy</Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold text-blue-600">StudyBuddy</span> ist eine kostenlose, quelloffene und
        mobilfreundliche progressive Web-App, die den Studierenden Zugang zu allen Inhalten ihrer Kurse an einem Ort
        bietet.
      </span>
      <span class="block mb-1 sm:hidden font-bold text-blue-600">One-Stop-PWA für universitäre Vorlesungsinhalte.</span
      ><br />
       Geeignet für alle Lehrstühle der Universitäten in der Schweiz, um die Inhalte, die ihre Studenten benötigen,
      bereitzustellen.
    </Fragment>
  </Hero>

  <section class="mx-auto text-center">
    <div class="mb-24">
      <h1 class="text-5xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200">
        Ein Zuhause für Vorlesungsinhalte
      </h1>
      <p>
        <span class="font-semibold text-blue-600">Lehrstühle</span> können Inhalte für ihre Vorlesungen <span
          class="font-semibold text-blue-300">erstellen und moderieren</span
        >.
      </p>
      <p>
        Wählen Sie über die <span class="font-semibold text-blue-300">Schutzfunktion</span> aus, welche Ihrer
        Vorlesungsinhalte öffentlich oder nur für angemeldete Studierende zugänglich sind.
      </p><p>
        Erstellen Sie Ihre Inhalte privat und veröffentlichen Sie sie mit einem Klick, wenn Sie bereit sind, mit der <span
          class="font-semibold text-blue-300">Publiksationsfunktion</span
        >.
      </p><p>
        Laden Sie Ihre Folien hoch und integrieren Sie sie über den <span class="font-semibold text-blue-300"
          >PDF Manager</span
        >.
      </p><p>
        Binden Sie Videos von externen Quellen wie <a
          href="https://www.switch.ch/de/cast"
          class="underline font-semibold text-green-600">Switch Cast</a
        > ein, um <span class="font-semibold text-blue-300">Vorlesungspodcasts</span> zu integrieren.
      </p><p>
        Integrieren Sie <span class="font-semibold text-blue-300">interaktive Inhalte</span> wie Quizze, Karteikarten,
        Fragebögen über <a
          href="https://h5p.org/content-types-and-applications"
          class="underline font-semibold text-green-600">h5p</a
        >.
      </p><p>
        Senden Sie <span class="font-semibold text-blue-300">Push-Benachrichtigungen</span> an die Nutzer der App.
        <div class="mx-auto text-center text-xs">
          <img src="/images/chair-create-content-demo.avif" alt="PWA Demo" class="mx-auto mt-6 mb-2" />
          <p>Demo eines Lehrstuhls, welcher Inhalte erstellt</p>
        </div>
      </p>
      <div>
        <h1
          class="text-5xl md:text-2xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200"
        >
          Alles an einem Ort
        </h1>
        <p>
          <span class="font-semibold text-blue-600">Studierence</span> haben Zugriff auf die Inhalte aller Vorlesungen
          aus <span class="font-semibold text-blue-300">einer einzigen App</span>.
        </p><p>
          Installieren Sie StudyBuddy auf <any class="font-semibold text-blue-300"></any>jedem mobilen Gerät
        </p> mit Ihrem Webbrowser.
      </div><p>
        Loggen Sie sich mit Ihrer <span class="font-semibold text-blue-300"></span>bereits vorhandenen Edu-ID
      </p> ein, um zusätzlich Zugang zu allen geschützten Ressourcen zu erhalten:
    </div>

    <img src="/images/mobile_demo.avif" alt="PWA Demo" class="mx-auto mt-6 mb-2" />
    <p class="mx-auto text-center text-xs">Student PWA Demo</p>
  </section>
</Layout>

<Features
  id="features"
  tagline="Features"
  title="Das erhalten Sie mit StudyBuddy"
  subtitle="Eine progressive Web-App, entwickelt vom Teeam RWF E-Learning der Universität Zürich."
  items={[
    {
      title: 'Mobile PWA',
      description:
        'Kein App Store, kein Problem. Diese App kann auf jedem mobilen Gerät mit einem Webbrowser installiert werden.',
      icon: 'tabler:brand-appstore',
    },
    {
      title: 'Switch Edu-ID integration',
      description:
        'Studenten können mit ihrer bereits vorhandenen Edu-ID können Sie alle geschützten Inhalte im Handumdrehen freischalten.',
      icon: 'tabler:login',
    },
    {
      title: 'Moderation von Inhalten',
      description:
        'Ihr Inhalt, Ihre Art. Jeder Lehrstuhl hat sein eigenes Webbrowser-Konto, um seine eigenen Inhalte hochzuladen und zu verwalten.',
      icon: 'tabler:list-check',
    },
    {
      title: 'Push-Benachrichtigungen',
      description:
        'Bleiben Sie über Push-Benachrichtigungen mit allen Studenten in Kontakt. Jeder Lehrstuhl kann über sein Webbrowser-Konto Benachrichtigungen senden.',
      icon: 'tabler:notification',
    },
    {
      title: 'Administrationskonto',
      description:
        'Verwalten Sie Ihre Lehrstühle ganz einfach über unsere Webschnittstelle. Mit wenigen Klicks können Sie neue Lehrstühle anlegen, aktualisieren oder löschen, wie Sie möchten.',
      icon: 'tabler:user-check',
    },
    {
      title: 'Geschützte Inhalte',
      description:
        'Teilen Sie Ihre Folien einfach und sicher mit Ihren Studierenden. Sie können Ihre Inhalte schützen und den Zugriff nur für Studierende freigeben.',
      icon: 'tabler:shield-lock',
    },
  ]}
/>

<div class="mx-auto text-center text-xs mb-4">
  <p>
    Programmiert von <a
      href="https://www.ius.uzh.ch/de/staff/administration/verwaltung/it/Philipp-Hofmann.html"
      class="underline font-semibold text-green-600"
      >Philip Hofmann
    </a> und <a
      href="https://www.ius.uzh.ch/de/staff/administration/verwaltung/it/Silas-Weber.html"
      class="underline font-semibold text-green-600">Silas Weber.</a
    >
  </p>
</div>
